{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.Search) }}
        <button  type="submit" name="btnSearch" class="btn btn-primary stretched-link">Rechercher</button>
        {{ form_end(form) }}
        <div class="row mt-4">
            {% for program in programs %}

            <div class="col-lg-6">
                <img src="{{ program.poster }}" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-lg-6">
                <div class="jumbotron">
                    <h2>{{ loop.index }} / {{ program.title }} - Catégorie :</h2>
                    <p>{{ program.summary }}</p>
                    <a href="{{ path('wild_show_program', {programName: program.title|lower|replace({' ': '-'})}) }}" class="btn btn-primary stretched-link">go</a>
                </div>
            </div>
            {% else %}
                Aucune série trouvée.
            {% endfor %}
        </div>
    </div>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}